
.user {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .user td, .user th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user tr:nth-child(even){background-color: #f2f2f2;}
  
  .user tr:hover {background-color: #ddd;}
  
  .user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
  }
  .user.dash th{
    width: 50%;
  }

  .loginbtn {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.3s;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    top: 50%;
    margin-top: 100px;
  }

  .loginbtn h2{
      text-align: center;
  }

  .loginbtn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .loginbtn button {
    position: relative;
    left: 20%;
    top:25%
  }

  .logoutbtn {
    display: flex;
    float: right;
    width: 100px;
    margin-top: 25px;
  }
  
  .username {
      display: flex;
      max-width: 500px;
      float: left;
      margin-left: 25px;
  }

  .detailbtn {
    float: right;
    margin-top: 25px;
  }

  /* Navbar styling */

  .navbar{
    position: fixed !important;
    width: 100%;
  }

  .navbar-global {
    background-color: indigo;
    position: fixed;
  }
  
  .navbar-global .navbar-brand {
    color: white;
  }
  
  .navbar-global .navbar-user > li > a
  {
    color: white;
  }
  
  .navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 60px;
    height: 100%;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
  }
  
  .main-content {
    margin-left: 200px;
    padding: 65px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }

  .logoimg{
    width: 17%;
  }

  .navbar-right{
    color: white;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-right li {
    cursor: pointer;
  }

  .justify-content-center{
    margin-top: 5%;
  }

  .detailpage{
    display: none;
  }